.btn-base {
  height: 3rem;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0 1.5rem;
  font-family: "Cormorant SC", serif;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}

.btn-beige {
  background-color: #FFEEDB;
  color: #000;
}

.btn-beige:hover {
  background-color: #f0dbc9;
}

.btn-red {
  background-color: #BA3B46;
  color: #FFF;
}

.btn-red:hover,
.btn-red-small:hover {
  background-color: #8b2029;
}

.btn-red-outline {
  border: 2px solid var(--red);
  color: var(--red);
  background: none;
}

.btn-red-outline:hover {
  border: 2px solid #ed9b40;
  color: #ed9b40;
}

.btn-beige-outline {
  border: 2px solid var(--beige);
  color: var(--beige);
  background: none;
}

.btn-beige-outline:hover {
  border: 2px solid #f0cdae;
  color: #f0cdae;
}

.btn-red-small {
  background-color: #BA3B46;
  color: #FFF;
  height: 2rem;
  padding: 0 1rem;
}

.btn-yellow-small,
.btn-yellow {
  background-color: #F0A404;
  color: #FFF;
}

.btn-yellow-small:hover,
.btn-yellow:hover {
  background-color: #c18402;
  color: #FFF;
}

.btn-red-small,
.btn-yellow-small {
  height: 2rem;
  padding: 0 1rem;
  border-radius: 10px;
}

.btn-green {
  background-color: #008000;
  color: #FFF;
}

.btn-green:hover {
  background-color: #005000;
  color: #FFF;
}

.btn-blue {
  background-color: #1565c0;
  color: #FFF;
}

.btn-blue:hover {
  background-color: #044691;
  color: #FFF;
}