.filter-sidebar {
    max-width: 500px;
    width: 270px;
    background-color: var(--beige);
    color: black;
    padding: 1rem;
    border-radius: 20px;
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    z-index: 1;
    margin-bottom: 5%;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    gap: 1rem;
}

.filter-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.2rem;
}

.filter-options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filter-row {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filter-row input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #FFEEDB;
    border: 1px solid black;
    border-radius: 4px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-right: 0.5rem;
}

.filter-row input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 8px;
    width: 4px;
    height: 8px;
    border: solid #BA3B46;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.filter-icon {
    max-width: 25px;
    max-height: 25px;
    object-fit: contain;
    margin-right: 0.5rem;
}

.stars-inline {
    display: inline-flex;
    vertical-align: middle;
}

.filter-toggle-btn {
    display: none;
}

.filter-close-btn {
    background: none;
    border: none;
    color: black;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    display: none;
}

.amenity-icon {
    margin-right: 0.5rem;
}

@media (max-width: 1070px) {
    .filter-toggle-btn {
        display: block;
        flex: 1 1 auto;
        min-width: max-content;
        max-width: 100%;
    }

    .filter-overlay {
        display: none;
    }

    input#filter-toggle:checked~.filter-overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1500;
        cursor: pointer;
    }

    .filter-sidebar {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -400px;
        width: 90%;
        max-width: 400px;
        height: 100vh;
        background: var(--beige);
        padding: 2rem 1rem 1rem 1rem;
        overflow-y: auto;
        z-index: 2000;
        transition: left 0.3s ease;
        border-radius: 0;
    }

    input#filter-toggle:checked~.filter-sidebar {
        left: 0;
    }

    .filter-close-btn {
        display: block;
        font-size: 2rem;
        position: absolute;
        cursor: pointer;
    }

    .filter-header {
        margin-top: 2.5rem;
    }
}