.home-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.home-left {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
    z-index: 1;
    padding-right: 10%;
}

.home-logo {
    margin-bottom: 3rem;
    max-width: 450px;
    width: 60%;
    height: auto;
}

.home-right {
    flex: 1;
    position: relative;
    background-color: #BA3B46;
    z-index: 1;
}

.home-plate {
    position: absolute;
    top: 40%;
    left: 0;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-plate img {
    max-width: 600px;
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
        background: url('../images/background.svg');
        background-size: cover;
        background-position: center;
    }

    .home-right {
        order: 1;
    } 

    .home-left {
        order: 2;
    }

    .home-left,
    .home-right {
        width: 100%;
        padding: 1rem;
    }

    .home-left img {
        max-width: 300px;
    }

    .home-plate {
        position: static;
        transform: none;
        display: flex;
        justify-content: center;
    }

    .home-plate img {
        max-width: 40%;
    }
}
