.restaurants {
    margin: 8% 3% 0 3%;
    flex-direction: column;
    gap: 2rem;
}

.restaurants .restaurant-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.restaurants .restaurants-right {
    width: 100%;
}

.restaurants .search-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.restaurants .settings-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 10px;
    width: 100%;
}

@media (min-width: 768px) {
    .restaurants {
        display: flex;
        flex-direction: row;
    }

    .restaurants .search-bar {
        margin-top: 0;
    }
}

@media (max-width: 780px) {
    .restaurants .settings-bar {
        justify-content: center;
    }
}

@media (max-width: 550px) {
    .restaurants .search-bar {
        margin-top: 1rem;
    }
}

.admin-restaurants-page {
    padding: 2rem 1rem;
}

